# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

*.tgz

# dotenv environment variables file
.env

.idea/
dist/
*.swp

# Serverless directories
.serverless/

# Mac Stuff
.DS_Store

*.out

# helm related yaml conf
values.yml
values.yaml
values.gen.yml
values.gen.yaml